<div class="container-fluid m-0 p-0 h-auto" style="overflow-x: hidden;">
    <div class="row mt-3 mx-0 mx-md-3">
        <div class="col-12 rounded py-auto shadow-sm bg-body">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb my-3">
                    <li class="breadcrumb-item"><a href="#">INICIO</a></li>
                    <li class="breadcrumb-item"><a href="#">MAQUINAS</a></li>
                    <li class="breadcrumb-item active" aria-current="page">DISPOSITIVOS</li>
                </ol>
            </nav>
        </div>
    </div>
          <style>
              .contenedor {
                  display: grid;
                  grid-template-columns: 1fr 1fr 1fr;
                  grid-template-rows: auto;
              }
              .contenedor-1 {
                  justify-self: center;
                  grid-row: 1;
                  grid-column: 1;
              }
              .contenedor-2 {
                  justify-self: center;
                  grid-row: 1;
                  grid-column: 2;
              }
              .contenedor-3 {
                  justify-self: center;
                  grid-row: 1;
                  grid-column: 3;
              }
          </style>
    <div class="row mt-3 px-0 px-sm-3" id="devices_cards">
    </div>
</div>


<script>
  function datadevice(id_device, id_machine){
    window.location.href = "{{url}}/dashboard/datadevice/" + id_device + "/" + id_machine;
  }

  function historydevice(id_device, id_machine){
    window.location.href = "{{url}}/dashboard/historicos/" + id_device + "/" + id_machine;
  }

  
  axios({ 
        
        method: 'POST',   
        url: '{{url}}/api/find_OneMachine', 
        headers: {
            Authorization: "Bearer Token"
        }, 
        data: { 
            id_machine: "{{id_machine}}"
        }
    
    }).then((res) => {
        if(res.data.status) {
            console.log(res.data.data[0].dispositivos);
            //notification("success", `${res.data.data[0].dispositivos.length} dispositivos recuperados`);
            let card_devices = "";
            let chartFunction = "";
            if(res.data.data[0].dispositivos.length > 0) {

              for(let d = 0 ; d < res.data.data[0].dispositivos.length ; d ++){
                let AI = 0;
                let DI = 0;
                let DO = 0;
                let dispositivo = res.data.data[0].dispositivos;
                let sensor = res.data.data[0].dispositivos[d].sensores;
                for(let s = 0 ; s < sensor.length; s++) {
                  
                  if(sensor[s].type == "AI") {
                    AI += 1;
                  }
                  else if (sensor[s].type == "DI") {
                    DI += 1;
                  }
                  else if(sensor[s].type == "DO"){
                    DO += 1;
                  }


                }
                  
                  
                chartFunction += `
                    var options1${dispositivo[d]._id} = {
                        series: [${parseInt((AI*100)/(AI+DI+DO))}],
                        chart: {
                            type: 'radialBar',
                            width: 50,
                            height: 50,
                            sparkline: {
                                enabled: true
                            }
                        },
                        dataLabels: {
                            enabled: false
                        },
                        plotOptions: {
                            radialBar: {
                                hollow: {
                                    margin: 0,
                                    size: '50%'
                                },
                                track: {
                                    margin: 0
                                },
                                dataLabels: {
                                    show: false
                                }
                            }
                        }
                    };

                    let chart1${dispositivo[d]._id} = new ApexCharts(document.querySelector("#chart1${dispositivo[d]._id}"), options1${dispositivo[d]._id});
                    chart1${dispositivo[d]._id}.render();

         var options2${dispositivo[d]._id} = {
          series: [${parseInt((DI*100)/(AI+DI+DO))}],
          chart: {
          type: 'radialBar',
          width: 50,
          height: 50,
          sparkline: {
            enabled: true
          }
        },
        dataLabels: {
          enabled: false
        },
        plotOptions: {
          radialBar: {
            hollow: {
              margin: 0,
              size: '50%'
            },
            track: {
              margin: 0
            },
            dataLabels: {
              show: false
            }
          }
        }
        };

        var chart2${dispositivo[d]._id} = new ApexCharts(document.querySelector("#chart2${dispositivo[d]._id}"), options2${dispositivo[d]._id});
        chart2${dispositivo[d]._id}.render();

         var options3${dispositivo[d]._id} = {
          series: [${parseInt((DO*100)/(AI+DI+DO))}],
          chart: {
          type: 'radialBar',
          width: 50,
          height: 50,
          sparkline: {
            enabled: true
          }
        },
        dataLabels: {
          enabled: false
        },
        plotOptions: {
          radialBar: {
            hollow: {
              margin: 0,
              size: '50%'
            },
            track: {
              margin: 0
            },
            dataLabels: {
              show: false
            }
          }
        }
        };

        var chart3${dispositivo[d]._id} = new ApexCharts(document.querySelector("#chart3${dispositivo[d]._id}"), options3${dispositivo[d]._id});
        chart3${dispositivo[d]._id}.render();
                
                
                
                
                
                
                
                `;
                  
                  card_devices += `
                      <div class="col-12 col-sm-3 mb-3">
                          <div class="card bg-dark text-white" >
                            <object data="/images/machines/${res.data.data[0].url}" type="image/png">
                                        <img src="/images/machines/gear.png" alt="Sin foto">
                                    </object>
                              <!--<img src="/images/machines/${res.data.data[0].url}" class="card-img" alt="..." >-->
                              <div class="card-img-overlay" style="background-color: rgba(0,0,0,0.5);">
                                  <h5 class="card-title text-center">${res.data.data[0].dispositivos[d].name}</h5>
                                  <p class="card-title text-center">RENGO</p>
                                  <hr class="mb-4">
                                  <div class="card-text text-center mb-3">Sensor de temperatura ambiental y control automatizado</div>
                                  <div class="card-text text-center mb-3"></div>
                                  <div class="contenedor">
                                      <div class="contenedor-1">
                                          <div id="chart1${dispositivo[d]._id}"></div>
                                          <div class="card-text text-center">${AI} AI</div>
                                      </div>
                                      <div class="contenedor-2">
                                          <div id="chart2${dispositivo[d]._id}"></div>
                                          <div class="card-text text-center">${DI} DI</div>
                                      </div>
                                      <div class="contenedor-3">
                                          <div id="chart3${dispositivo[d]._id}"></div>
                                          <div class="card-text text-center">${DO} DO</div>
                                      </div>
                                  </div>
                                  <p class="card-text text-center mt-2"><small class="card-text ">Ultima actualizacion hace 3 minutos.</small></p>
                                  <div class="text-center mt-4">
                                      <button class="btn btn-danger" onclick="datadevice('${res.data.data[0].dispositivos[d].id_device}', '{{id_machine}}')">Ver datos en tiempo real</button>
                                      <button class="btn btn-warning" onclick="historydevice('${res.data.data[0].dispositivos[d].id_device}', '{{id_machine}}')">historicos</button>
                                  </div>
                    
                              </div>
                          </div>
                      </div>
                  `;
              }

              document.getElementById('devices_cards').innerHTML = card_devices;


              let graficos = new Function(chartFunction);

              graficos();
            }
        }
        else {
            console.log(res.data.msg);
        }      
    }).catch((err) => {   
        console.log(err);
    });

</script>

{{id_machine}}




<!--<script>
                                    
                        </script>-->